* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    scroll-behavior:20%;
}

.main {
    width: 100%; 
    background-color: black;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.nav h1 {
    font-size: 30px;
}

.nav i {
    font-size: 30px;
    font-weight: 800;
}

.full {
    height: 100vh;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.484);
    top: 0;
    right: -40%;
    backdrop-filter: blur(25px);
    padding: 150px 60px;
    z-index:1000;
}

.full h4 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

.full i {
    position: absolute;
    top: 5%;
    right: 10%;
    font-weight: 800;
    font-size: 35px;
    padding: 5px;
    cursor: pointer;
}

.outernav {
    position: sticky;
    top: 0;
}
.page1{
    width:100%;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.page2{
    width:100%;
    height:100vh;
    background-color: rgb(253, 0, 0);
}
.page3{
    width:100%;
    height:100vh;
    background-color: rgb(90, 88, 88);
}
.foot{
    width:100%;
    height:30vh;
    background-color: aqua;
}